@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main, .footer {
    border: 2px solid red;
}

.header {
  background-color:darkgrey;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 10px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  font-weight: bold;
}

.image {
  max-width: fit-content;
}

.code {
  padding-left: 0;
}